[Unit]
Description=Misol

[Service]
Type=simple
ExecStart=/usr/bin/sudo /usr/bin/python3 /home/pi/misol/misol.py
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

